@tailwind base;
@tailwind components;
@tailwind utilities;

select,
input,
textarea {
  border: 1px solid #c2c2c2;
  outline-color: #0b003d;
  border-radius: 4px;
}
.active {
  background-color: #ffebf5;
  border-color: #c586a5;
}
